body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100vw;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 990px) {
  .container {
    width: 990px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100vw;
  background-image: url(../../img/bg/bats-pic.svg), url(../../img/bg/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.header__pic {
  aspect-ratio: 1/1;
}
@media (min-width: 320px) {
  .header__pic {
    margin-bottom: 16px;
    width: 288px;
    height: 163px;
  }
}
@media (min-width: 375px) {
  .header__pic {
    width: 343px;
  }
}
@media (min-width: 768px) {
  .header__pic {
    width: 522px;
  }
}
@media screen and (min-width: 990px) {
  .header__pic {
    width: 640px;
  }
}
@media screen and (min-width: 1440px) {
  .header__pic {
    width: 740px;
  }
}
@media screen and (min-width: 1920px) {
  .header__pic {
    width: 1000px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  z-index: -1;
  position: relative;
  width: 100vw;
}
@media screen and (min-width: 320px) {
  .header__nav {
    padding: 16px 16px;
    height: 80px;
    width: 100vw;
  }
}
@media screen and (min-width: 375px) {
  .header__nav {
    margin: 44px 16px 8px 16px;
    height: 108px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin: 23px 40px;
    height: 110px;
    width: 100%;
  }
}
@media screen and (min-width: 990px) {
  .header__nav {
    margin-left: 23px;
    margin-right: 23px;
    height: 118px;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .header__nav {
    margin-left: 23px;
    margin-right: 23px;
    height: 118px;
    width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .header__nav {
    margin-left: 220px;
    margin-right: 220px;
    height: 156px;
    width: 100%;
  }
}

.header__enter {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
@media screen and (min-width: 320px) {
  .header__enter {
    padding: 9px 24px;
  }
}
@media screen and (min-width: 375px) {
  .header__enter {
    padding: 9px 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__enter {
    position: absolute;
    right: 40px;
    padding: 11px 24 px;
  }
}
@media screen and (min-width: 1440px) {
  .header__enter {
    position: absolute;
    right: 172px;
    padding: 11px 24 px;
  }
}
@media screen and (min-width: 1920px) {
  .header__enter {
    padding: 16px 34px;
    position: absolute;
    right: 229px;
  }
}

@media screen and (min-width: 320px) {
  .header__reg {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .header__reg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__reg {
    display: inline-block;
    color: #fff;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    opacity: 0.8;
    position: absolute;
    right: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .header__reg {
    position: absolute;
    right: 292px;
  }
}
@media screen and (min-width: 1920px) {
  .header__reg {
    position: absolute;
    right: 388px;
  }
}

@media screen and (min-width: 320px) {
  .telegram {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .telegram {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .telegram {
    display: inline-block;
    position: absolute;
    right: 312px;
  }
}
@media screen and (min-width: 990px) {
  .telegram {
    position: absolute;
    right: 320px;
  }
}
@media screen and (min-width: 1440px) {
  .telegram {
    position: absolute;
    right: 444px;
  }
}
@media screen and (min-width: 1920px) {
  .telegram {
    position: absolute;
    right: 565px;
  }
}

@media screen and (min-width: 320px) {
  .fb {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .fb {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .fb {
    display: inline-block;
    position: absolute;
    right: 360px;
  }
}
@media screen and (min-width: 990px) {
  .fb {
    position: absolute;
    right: 368px;
  }
}
@media screen and (min-width: 1440px) {
  .fb {
    position: absolute;
    right: 492px;
  }
}
@media screen and (min-width: 1920px) {
  .fb {
    position: absolute;
    right: 605px;
  }
}

.heder__info {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  background-size: cover;
  width: 100vw;
}

.heder__info::before,
.heder__info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.info-title {
  display: block;
  margin-top: 16px;
}

.info-list {
  display: block;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.8;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  .header__btm {
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding: 14px;
    background-color: #FC3232;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */